/*STRUCTURE*/
main {
    display: flex;
}
body{
    background-image: url("../imgs/background.jpeg");
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: #50583c;
}
footer p {
    font-size: 80%;
}

/*JUMBOTRONS*/
.jumbotron {
    background-color: rgba(25,25,25,0.5) !important;
}
footer.jumbotron{
    margin-bottom: 0px !important;
}

/*SIDEBAR*/
.sidebar-open .sidebar {
    margin-left: 15px;
    height: 100vh;
}
.sidebar {
    margin-left: -145px;
    transition: margin-left 0.5s ease-in-out;
    height: 100vh;
}
.sidebar a {
    border: 1px solid black;
    border-radius: 20px;
    height: 32px;
    display: flex;
    align-content: center;
    padding: 0 16px;
    margin: 10px 0;
    background: rgba(255, 255, 255, .3);
    color: white;
    line-height: 30px;
    display: block;
    width: 130px;
}
.sidebar a:hover, 
.sidebar a.selected {
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
    color: black;
}

/*SIDEBAR BUTTON*/
.sidebar-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
.sidebar-toggle img {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.sidebar-toggle:focus {
    outline: none;
}
.sidebar-open .sidebar-toggle img {
    transform: rotate(0deg);
}

/*CARDS*/
.card img{
    width: 100%;
}
.card-title a {
    color:black;
}
p.card-text{
    padding: 0%;
    padding-top: 1em;
    margin-right: 0%;
    text-align: left;
}

/*LINKEDIN*/
.linky {
    color: yellow;
}
.linky:hover {
    color: white;
}

.information{
    background-color: white;
}

/*RESPONSIVE*/
@media screen and (max-width: 580px) {
    .jumbotron h1 {
        font-size: 30px;
        padding-top: 40px;
        padding-left: 15px;
    }
    p.lead {
        font-size: 15px;
        padding-left: 15px;
    }
    .sidebar {
        padding-right: 15px;
    }
    .sidebar-open .sidebar {
        padding-right: 0px;
    }
    .card-title a {
        font-size: 25px;
    }
}
@media screen and (max-width: 1315px) {
    .information {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}   